system/system/priv-app/MIUIGallery/MIUIGallery.apk
system/system/priv-app/MiBrowser/MiBrowser.apk
system/system/priv-app/MIUIVideo/MIUIVideo.apk
system/system/priv-app/MIUIMusic/MIUIMusic.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/data-app/SmartHome/SmartHome.apk
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
